 *{
     box-sizing: border-box;
 }

 body{
    
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    width: auto;
    height: 400px;
    background-color: #F38E58;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    

}

.NavBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    background: #F38E58;
    padding: 20px;
    
}

.nv-left{
    display: flex;
    flex-direction: row;
}
.nv-left ul{
    display: flex;
    flex-direction: row;
    margin-left: 20px;

}
.nv-left img{
    height: 50%;
}
.nv-left ul li{
    list-style: none;
    margin: 0px 12px;

}
.nv-left ul a{
text-decoration: none;
color: white;

/* margin-right: 18px; */

}

a:hover {
    background-color: rgb(61, 167, 93);
  }
.nv-right a{
text-decoration: none;
color: white;
/* margin-right: 18px; */
margin: 0px 0px 0px 24px;


font-size: 10px;
font-weight: bolder;
padding: 15px 20px;


}
    .nv-right {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: row;
    /* margin-right: 150px; */
}

.orange{
        color: #F38E58;
}
    .nv-right a:first-child{
    background-color: #032030;

    border-radius: 10px;
    font-size: 15px;
    

     }
     
.nv-right a:hover {
        background-color: rgb(61, 167, 93);
}

     .nv-right a:last-child{
         font-size: 13px;
         font-weight: bolder;
         border-radius: 10px;
        background: transparent;
        border: 2px solid #FFFFFF;
        font-weight: bold;
}
.contactus{
    text-align: center;
    margin-top: 120px;
    margin-left: 300px;
    

}
.contactus h1{
    color: white;
    font-size: 70px;
    font-weight: bold;
}
.contactus p{
    margin-top: -22px;
}


.submit{
    background-color: #f38e58;
    border-radius: 3px;
    font-size: 18px;
    margin-top: -10px;
 }
 .reach{
     color: red;
     /* margin-top: a; */
 }
 .reach p{
     color: #1b1e20;
     margin-top: auto;
 }
 .reach h2{
    color: #69dbf8;

 }
 .text{
     border: 0;
     line-height: 2.5;
     padding: 0 20px;
     font-size: 1rem;
     border-radius: 10px;
 }
 input{
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid ;
     border-radius: 4px;
     box-sizing: border-box;
 }
 #submit{
     border: 45PX;
     line-height: 2,5;
     padding: 0 20px;
     font-size: 1rem;
     text-align: center;
     color: rgb(194, 35, 35);
     border-radius: 10px;
     background-color:#F39B6B;
     margin: top 18px;
     float: right;
     width: 50px;
     
 }
 main{
     display: grid;
     /* grid-column-grp:40px; */
     grid-template-columns: auto auto;
     background-color: #fff;
     padding: 40px;
 }
 .landre{
     color: #69dbf8;
 }
 .landre p{
     color: #757575;
     margin-top: auto;
 }
 .landre h3{
     color: #757575;
 }
 
 .soil{
     display: flex;
     margin: 5px;
     align-content: center;
     align-items: center;
     flex-direction: row;
 }
 .soil p{
     margin-top: 5px;
 }
 #fc{
     margin: 20px;
 }
 #tw{
    margin:20px;
 }
 #in{
    margin: 20px;
    
 }
 .photos{
     margin-bottom:-80px;
 }
 
 
 .submit3{
     margin-top: 20Px;
     
     border-left-width: 126px;
     float: right;
 
     
 }
 .submit3 a{
     text-decoration: none;
     color: rgb(248, 245, 245);
     margin-top: 5px;
     margin-right: px;
 
 
     
 }
 
 .submit3 a:first-child{
     background-color: #F39B6B;
     padding: 10px ;
     border-radius: 8px;
     
    
 
 }
 
 .submit3 a:last-child{
     border: white 2px solid;
     border-radius: 8px;
     padding: 8px;
 }
    
 .big{
background-color: rgb(51, 50, 54);
margin-top: 100px;
margin: 0%;

 }
 .big{
    display: flex;
    flex-direction: row;
    

 }
    .div1{
      
       justify-content: space-between;
       width: 100%;
       padding: 0px 30px;
       padding-right: 20px;
        }
    .div2{
        
        justify-content: space-between;
        width: 100%;
        padding: 0px 30px;
        padding-right: 20px;
     }
     .div3{
        
        justify-content: space-between;
        width: 100%;
        padding: 0px 30px;
        padding-right: 20px;
        }
    .div4{
       
        justify-content: space-between;
        width: 100%;
        padding: 0px 30px;
        padding-right: 20px; 
    }
    .div5{
       
        justify-content: space-between;
        width: 100%;
        padding: 0px 30px;
        padding-right: 20px;    
    }
    .div6{
        
        justify-content: space-between;
        width: 100%;
        padding: 0px 30px;
        padding-right: 20px;      
}

   .button{
    border: white solid;
    padding: 0.9375rem 3rem;
    width: 180px;
    font-size: 0.8em;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(2 32 47);
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    padding: 0.9375rem 2rem;

    
    background: #272525b4;

   }

footer h3{
color: white;
font-size: 14;
}
footer p{
color: #767676;

}

.icons{
    color: #F39B6B;
    font-size: 20px;
    margin: 5px;
}
.footer-copyright{
    background-color: #383030;
    line-height: 2.5em;

}
.rit{
    
        width: 100%;
        margin: 0%;
}
.rit p{
    color: #fdfdfd;
    margin: 0px;
}
.rit a{
    text-decoration: none;
    color: #F49B6C;
}

.formButton{
    float: right;
    width: 150px;
    height: 50px;
    background-color: #F38E58;
    border: none;
    border-radius: 8px;

}

